# Nuxt
.nuxt/
.output/
.data/
dist/

# Environment
.env
.env.local
.env.production

# Dependencies
node_modules/

# Generated
public/generated/

# Editor
.DS_Store
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
.vercel
